.circle {
    border-radius: 50%;
    position: absolute;
    background: linear-gradient(0deg, #0c0c0c, #00ffff);
    animation: pulse 6s infinite linear;
    opacity: 0.6;
    box-shadow: 0 20px 30px #4682b4;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        transform: translateY(0px);
        /* transform: rotate(0deg); */
        opacity: 0.6;
        background: linear-gradient(0deg, #0c0c0c 0%, #00ffff);
    }
    10% {
        background: linear-gradient(1deg, #0c0c0c 1%, #00ffff);
    }
    20% {
        background: linear-gradient(2deg, #0c0c0c 2%, #00ffff);
    }
    30% {
        background: linear-gradient(3deg, #0c0c0c 3%, #00ffff);
    }
    40% {
        background: linear-gradient(4deg, #0c0c0c 4%, #00ffff);
    }
    50% {
        transform: scale(0.85);
        transform: translateY(20px);
        opacity: 0.7;
        background: linear-gradient(5deg, #0c0c0c 5%, #00ffff);
        /* transform: rotate(45deg); */
    }
    60% {
        background: linear-gradient(4deg, #0c0c0c 4%, #00ffff);
    }
    70% {
        background: linear-gradient(3deg, #0c0c0c 3%, #00ffff);
    }
    80% {
        background: linear-gradient(2deg, #0c0c0c 2%, #00ffff);
    }
    90% {
        background: linear-gradient(1deg, #0c0c0c 1%, #00ffff);
    }
    100% {
        transform: scale(1);
        transform: translateY(0px);
        /* transform: rotate(0deg); */
        opacity: 0.6;
        background: linear-gradient(0deg, #0c0c0c 0%, #00ffff);
    }
}
