.gear_projects {
    width: 100%;
    height: auto;
    animation: rotateGear 60s linear infinite;
}

.gear_projects:hover {
    animation-duration: 3s;
}

@keyframes rotateGear {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}