/* General Body Styling */
body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333333;
    /* line-height: 1.6; */
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333333;
}

h1 {
    font-size: 3em;
    margin-bottom: 10px;
    color: #333333;
}

p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    transition: color 0.3s;
}


a:hover {
    color: #ff00ff;
}


a:visited {
    color: #00ff00;
}


a:active {
    color: #ff0000;
}

.gear-container {
    width: 15%;
    aspect-ratio: 1;
    position: absolute;
    opacity: 0.2;
    top: -6vh;
    left: -4vw;
}



section {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 10vh;
    border-radius: 8vh;
    box-shadow: 0 1rem 5rem #4682b4;
    font-family: 'Roboto';
    background-color: #f0f0f0;
    margin-bottom: 20%;
    font-size: 2vh;
    position: relative;
    z-index: 1;
}



.main {
    margin: 5%;
    margin-top: 10%;
    /* linear-gradient(to right, rgba(255, 85, 0, 0.3), #0d0d0d 50%); */

}

.aboutme {
    flex-direction: column; 
    text-align: left;
    align-items: center;
    justify-content: center;
}

.aboutme h2 {
    opacity: 0;
    animation: emerge 2s forwards;
    animation-delay: 2.5s;
}

.aboutme h1 {
    opacity: 0;
    animation: emerge 2s forwards;
    animation-delay: 1s;
}

@keyframes emerge {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.education {
    transform: translateX(100px);
    opacity: 0;
    transition: 0.5s;
    z-index: 1;
}

.education.show {
    transform: translateX(0);
    opacity: 1;
}


.projects {
    transform: translateX(100px);
    opacity: 0;
    transition: 0.5s;
    z-index: 1;
}




.projects.show {
    transform: translateX(0);
    opacity: 1;
}

